<nav class="navbar navbar-expand-md navbar-light">
	<a class="navbar-brand" href="#">Navigation</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="/homepage" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
			</li>
			
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Getting Started
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" routerLink="/info" routerLinkActive="active">Essential Info</a>
					<a class="dropdown-item" href="#">Races</a>
					<a class="dropdown-item" href="#">Classes</a>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" routerLink="#" routerLinkActive="active">Geography</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/history" routerLinkActive="active">History</a>
			</li>
		</ul>
	</div>
</nav>